@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

input {
    font-size: 1rem;
}

body {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

/* Start of general element styles */

.navbar {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.8rem;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
    background-color: #e8c5e5;
    color: #1c1d1b;
    font-weight: 400;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px #c889b5 solid;

    .nav_X {
        font-weight: bolder;
        height: 100%;
        line-height: 2.5rem;
    }
}

.window_content {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.window_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

/* End of general element styles */
/* Start of Greeting Window style */

#mainWindowContainer {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    min-height: 600px;
    height: 600px;
    border: 2px #c889b5 solid;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 4px #00000071);

    #greeting_text {
        font-weight: 400;
        text-align: center;
        margin: 0.5rem 0rem;
    }
}

#analytics_container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 110px);
    gap: 8px;
}

#daily_tasks {
    grid-column: 1 / span 1;
    grid-row-start: 1;
    grid-row-end: 5;
    border: #736eae 2px solid;
    border-radius: 8px;
    padding: 8px;
    background-color: #bdb9ee;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    gap: 8px;

    #daily_tasks_text {
        text-align: center;
        margin: 0.5rem 0rem;
        font-size: 1.1rem;
    }
}

#perf_chart_container {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    background-color: red;
}

/* End of Greeting Window style */
/* Start of Username Window style  */

#usernameWindowContainer {
    width: 300px;
    height: 200px;
    border: #c889b5 2px solid;
    border-radius: 8px;
    display: none;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    header {
        height: 2rem;
    }
    input {
        border-radius: 4px;
        height: 1.8rem;
        border: 2px solid #c889b5;
    }
    accent-color: #736eae;
    button {
        padding: 1rem 1.5rem;
        background-color: #736eae;
        color: #f0f0f0;
        border-radius: 8px;
        border: none;
        width: 90%;
    }
}

.task_container {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.task {
    padding: 8px;
    width: 100%;
    min-height: 30px;
    font-size: 0.9rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    border: #736eae00 2px solid;
    background-color: #e0e0e0;

    .task_tags {
        display: flex;
        gap: 4px;
    }
}

.task:hover {
    border: #736eae 2px solid;
}

.tag {
    display: flex;
    min-width: 1rem;
    height: 1.1rem;
    border-radius: 16px;
    background-color: #f0f0f0;
    .tag_text {
        padding: 0rem 0.5rem;
        height: 90%;
        line-height: 1rem;

        font-size: 0.8rem;
        text-align: center;
        border-radius: 16px;
        padding-right: 0.5rem;
    }

    .tag_color {
        height: 1rem;
        width: 1rem;
        border-radius: 16px;
    }
}

/* Board page */

#taskBoardContainer {
    max-width: 90svw;
    max-height: 90svh;
    width: 100%;
    height: 100%;
    border: #c889b5 2px solid;
    border-radius: 8px;
}

#folder_container {
    gap: 8px;
    display: flex;
    overflow: scroll;
}

.folder_element {
    min-width: 300px;
    max-width: 300px;
    min-height: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: #d4cdcd 2px solid;
    border-radius: 4px;
    background-color: #f0f0f0;
    overflow-wrap: anywhere;
    #folder_create_button {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            justify-self: flex-end;
            width: 3rem;
            height: 3rem;
            border: none;
            border-radius: 4rem;
            background-color: #d0adc4;
            filter: drop-shadow(2px 2px 2px #00000036);
        }
    }
    .task_folder_name {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0rem;
        border: none;
        background-color: #f0f0f0;
        font-size: 1rem;
        overflow-wrap: break-word;
    }
}

button:active {
    transform: scale(0.95);
    filter: drop-shadow(1px 1px 2px #00000036);
}

.add_task {
    padding-left: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
    text-align: start;
    background-color: #00000028;
    border-radius: 4px;
}

.add_task:hover {
    background-color: #929292dc;
}

/* Style for task popup window */

#task_popup_frame {
    width: 400px;
    height: 500px;
    border: #c889b5 2px solid;
    border-radius: 8px;
    display: none;
}

#task_popup_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
}

#input_task_desc {
    resize: none;
    height: 8rem;
}
